body{
	margin: 0;
	font-family: 'Source Code Pro', monospace;
    background-color:#e3e0e0;
}
#instButt{
    float:right;
    font-family: 'Source Code Pro', monospace;
    font-size:20px;
    cursor:pointer; 
}
.enter{
    font-size: 70px;
    cursor: pointer;
}
#loadInst{
    font-size: 32px;
}
#instDiv{
    font-size:15px;
    border:3px solid black;
    border-radius: 20px; 
    font-family: 'Source Code Pro', monospace;
    background-color: rgba(255, 246, 237,.8);
    height:115px;
    line-height:20px;
    top:30%;
    left:34%;
    display:none;
}
.banner li{
    text-align:left;
    margin-top:5px;
}
.inst{
    font-family: 'Source Code Pro', monospace;
    color: DarkGoldenRod;
    cursor: pointer;
    margin-left:20px;
    margin-top:40px;
}
.landingpage{
    text-align: center;
}
.landingpage img{
    width: 950px;
}
button{
	font-size:32px;
    font-family: 'Source Code Pro', monospace;
    padding:10px 10px;
    border:none;
    transition: transform 0.5s ease;
    background: none;
}
button:hover{
		color: DarkGoldenRod;
}
#newGameAndLevel{
    height:auto;
    width:300px;
}
#newGame{
	display: block;
    cursor: pointer;
    margin-left: 176px;
}
#toolbar{
	display: inline-block;
}
#container{
    margin-top:1%;
    width:auto;
    height:auto;
	margin: 0 auto;
	margin-top:1%;
	width:1300px;
	height:auto;
	text-align: center;
}
/**GAME BOARD CSS**/

#game{
    display:inline-block;
    line-height: 0;
    vertical-align:top;
    border: 3px solid black;
    border-radius: 5px;
    /* cursor: crosshair; */
}
#container{
    display: none;
}
.cloud{
    background:white;
}
.sky{
    background:lightblue;
}
.dirt{
    background-image: url('../images/dirt.png');
    background-size:cover;
}
.grass{
    background-image: url('../images/grass.png');
    background-size: cover;
}
.rock{
    background-image:url('../images/rock.png');
    background-size: cover;
}
.tree{
    background-image:url('../images/tree.png');
    background-size: cover;
}
.leaf{
    background-image:url('../images/leaf.gif');
    background-size: cover;
}
.block{
	margin:0;
	width: 50px;
	height: 50px;
	display: inline-block;
}
.block:hover {
	border: 1px solid white;
	width: 48px;
	height: 48px;
}
.axe{
	background-color:grey;
	border:3px solid black;
	border-radius: 10px;
	cursor: pointer;
}
.pickaxe{
	background-color:grey;
	border:3px solid black;
	border-radius: 10px;
	cursor: pointer;
	margin-top: 45px;
}
.shovel{
	background-color:grey;
	border:3px solid black;
	border-radius: 10px;
	cursor: pointer;
	margin-top: 45px;
}
.tool.block{
    font-size: 30px;
    color: black;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    margin: 8px;
    display: block;
    border:3px solid black;
    border-radius: 5px;
}